<div class="board-container">
  <table class="board" [ngClass]="{'blur': state.gameOver}">
    <tbody>
      <tr class="row" *ngFor="let row of rows">
        <td class="cell" *ngFor="let cell of row.cells" (click)="click(cell)">{{ cell.status }}</td>
      </tr>
    </tbody>
  </table>

  <div class="board-overlay" *ngIf="state.gameOver">
    <div class="board-overlay-content">
      <h1>{{ state.toString() }}</h1>
      <p *ngIf="state.winner">Player: {{ state.winner }}</p>
      <button class="btn btn--white-ghost" (click)="newGame.emit()">New Game</button>
    </div>
  </div>
</div>